.navContainer {
  height: 74px;
  background-color: #ffffff;
  width: 100%;
  border-bottom: 2px solid rgb(232, 231, 231);
  font-family: 'Open Sans';
  font-weight: 500;
}

.logo {
  background-image: url("../images/logo1.png");
  width: 100px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

